.footer {
    background: #e5e7eb;
    color: #0b1630;
    padding: 60px 80px 20px;
    font-family: "Segoe UI", sans-serif;
}

.footer-container {
    display: grid;
    grid-template-columns: 2.5fr 1fr 1fr;
    gap: 60px;
}

.footer-col h3,
.footer-col h4 {
    margin-bottom: 15px;
    position: relative;
}

.footer-col h3::before,
.footer-col h4::before {
    content: "";
    position: absolute;
    left: -15px;
    top: 4px;
    width: 4px;
    height: 20px;
    background: #2d7df6;
    border-radius: 4px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 15px;
}

.logo-icon {
    background: #0b1630;
    color: #0f3d3d;
    padding: 12px;
    border-radius: 12px;
    font-weight: bold;
}

.brand p {
    color: #d1d5db;
    line-height: 1.7;
    margin-bottom: 20px;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col ul li {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 12px;
    color: #0b1630;
    cursor: pointer;
}

.footer-col ul li:hover {
    color: #60a5fa;
}

.socials {
    display: flex;
    gap: 15px;
}

.socials a {
    background: #1f2933;
    padding: 12px;
    border-radius: 12px;
    color: #fff;
    font-size: 18px;
    transition: 0.3s;
}

.socials a:hover {
    background: #2d7df6;
    transform: translateY(-3px);
}

.footer-col p {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #0b1630;
    margin-bottom: 12px;
}

.footer-bottom {
    border-top: 1px solid #0b1630;
    margin-top: 40px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 14px;
    color: #0b1630;
}

@media (max-width: 900px) {
    .footer-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 600px) {
    .footer {
        padding: 40px 20px;
    }

    .footer-container {
        grid-template-columns: 1fr;
    }

    .footer-bottom {
        text-align: center;
        gap: 10px;
        justify-content: center;
    }
}